body {
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  background: lightgray;
  text-align: center;
  font-weight: 300;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
input::placeholder {
  font: 20px/3 sans-serif;
}

.List {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

#to-do-list {
  padding-inline-start: 0;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  width: 100%;
  min-width: 300px;
  margin: 0;
}

.list-item {
  list-style: none;
  padding: 10px 10px;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-width: 300px;
}

.list-item-2 {
  list-style: none;
  padding: 10px 10px;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 300px;
}

#Add-to-list {
  padding: 0 10px;
}

.task-item {
  margin-left: 10px;
  font-size: 1.2rem;
}

#add-task {
  height: 45px;
  min-width: 250px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

#add-task:focus {
  outline: none;
}

#demo {
  font-size: 1.3rem;
  font-weight: 700;
  opacity: 0.5;
}

#reload {
  border: none;
  height: 40px;
  width: 40px;
  background-color: transparent;
  opacity: 0.5;
}

.move-item {
  border: none;
  height: 40px;
  width: 40px;
  background-color: transparent;
  opacity: 0.5;
}

#submit-task {
  border: none;
  height: 40px;
  width: 40px;
  background-color: transparent;
  opacity: 0.5;
  margin-left: auto;
}

.todo {
  border: none;
  background-color: transparent;
  opacity: 0.5;
}

.delete-item {
  border: none;
  background-color: transparent;
  opacity: 0.5;
  margin-inline-start: auto;
}

#remove {
  width: 200px;
  height: 45px;
  border: none;
  background-color: transparent;
  opacity: 0.5;
  font-size: 1.2rem;
  font-weight: 700;
}

#remove:hover,
#remove:focus {
  opacity: 1;
  text-decoration: underline;
}
